*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root
{
  --dark: #000;
  --text-light: #fff;
  --light: #fff;
}

html
{
  color-scheme: light dark;
}

body
{
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: var(--background);
}

.container
{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
  min-height: 100%;
  width: 50vw;
  height: 100vh;
  padding: 2rem 1rem;
  margin-inline: auto;
}


img,
svg,
video
{
  max-width: 100%;
  display: block;
}

h1
{
  font-size: clamp();
  text-wrap: balance;
}

main
{
  width: min(65ch, 100%-4rem);
  margin-inline: auto;
}


@media(prefers-color-scheme:light)
{
  :root
  {
    --text-dark: #fff;
    --text-light: #000;
  }
}

@media(prefers-reduced-motion:no-preference)
{
  /* all your animations goes here */
}

@media(prefers-reduced-motion:reduced)
{

  *,
  *::after,
  *::before
  {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}


@media (width<640px)
{

  .container
  {
    width: 90vw;
    height: 100vh;
  }
}

@media (768px>width<1024px)
{

  /* for tablets */
}

@media (width>=1024px)
{

  /* for desktops and laptops */
}